/*ResetCSSstyles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Bodystyles*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/*Headerstyles*/
header {
    background-color: #333;
    color: #fff;
    padding: 20px0;
    text-align: center;
}

.profile-imageimg {
    border-radius: 50%;
    max-width: 150px;
}

.profile-info {
    margin-top: 10px;
}

.profile-infoh2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-infop {
    font-size: 16px;
}

.main-menuul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-menuli {
    margin-right: 20px;
}

.main-menua {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color0.3sease;
}

.main-menua:hover {
    color: #ffd700;
}

/*Maincontentstyles*/
main {
    padding: 40px0;
}

.container {
    max-width: 960px;
    margin: 0auto;
    padding: 020px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

li>a {
    color: white;
}

.slogan {
    color: white;
}

/*Footerstyles*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px0;
    text-align: center;
}

footerp {
    font-size: 14px;
}

/*Responsive Design*/
@media only screen and (max-width: 768){
    .profile-imageimg{
        max-width: 100%;
    }

    .main-menuul{
        flex-direction: column;
        text-align: center;
    }

    .main-menuli{
        margin-right: 0;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 600px){
    h2{
        font-size: 28px;
    }

    p{
        font-size: 16px;
    }
}